*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.register-body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
  

}

.register{
    height: 450px;
    width: 370px;
    border: solid black  1px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: aliceblue;
    border-radius: 5px;
    gap: 2rem;

}

input{
    width: 80%;
    height: 35px;
    margin-bottom: 1rem;
    border: none;
    background-color:   #BCD2E8;
    border-radius: 3px;
}

button{
    width: 80%;
    height: 30px;
    margin-bottom: 4rem;
    margin-top: 1rem;
}

